.countdown-value {
    width: 100px;
    height: 100px;
}

.countdown-value h1 {
    font-size: 60px;
}

.rating-container button {
    width: 50px;
    height: 50px;
    font-weight: bold;
    font-size: 20px;
}

.rating-container button:not(:first-of-type) {
    margin-left: 0.5rem;
}