@import '~antd/dist/antd.css';
.cards-container .ant-card:not(:first-of-type) {
    margin-left: 2rem;
}

.ant-card-body {
    padding: 1rem;
    min-width: 200px;
}

.ant-card-body .rounded-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.ant-card-body h2 {
    font-weight: 300;
}