@import '~antd/dist/antd.css';
.cards-container .ant-card:not(:first-of-type) {
    margin-left: 2rem;
}

.ant-card-body {
    padding: 1rem;
    min-width: 200px;
}

.ant-card-body .rounded-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.ant-card-body h2 {
    font-weight: 400;
}

.ant-table-thead>tr>th {
    font-weight: bold;
    font-size: 85%;
    text-transform: uppercase;
    color: rgba(0, 0, 0, .38);
}

.ant-table-cell.bolder {
    font-weight: 500;
}

.anticon {
    vertical-align: 0;
}

img.avatar {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    object-fit: cover;
}

.profile-info label {
    font-size: 80%;
    font-weight: 500;
    text-transform: uppercase;
    color: rgba(0, 0, 0, .54);
    margin-bottom: 0;
}

.profile-info p {
    font-weight: 500;
    color: rgba(0, 0, 0, .87);
}

.profile-edit-form .ant-form-item {
    margin-bottom: 1rem;
}